html, body {
	background-color: #ffffff;
	color: #263238;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	height: 100vh;
	line-height: 1.5;
	margin: 0;
}
body#fullPage {
	background: url("../img/maintenance.jpg") no-repeat fixed center center / cover;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

hr {
	border-color: #cfd8dc;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-size: 64px;
	font-weight: 500;
	line-height: 1.2em;
}
.title-header {
	font-size: 24px;
	margin: 6px 15px 6px 0;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

.nopadding {
   padding: 0 !important;
}

/* Text */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}
h1, .h1 {
	text-transform: uppercase;
}
p {
	line-height: 1.5;
}
.text-green {
	color: #8cc152;
}
.text-aqua {
	color: #3bafda;
}
.text-light-blue {
	color: #4a89dc;
}
.text-red {
	color: #ed5565;
}
.text-yellow {
	color: #ffce54;
}
.text-muted {
	color: #90a4ae;
}
.text-title {
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 500;
	letter-spacing: 0.008em;
	text-transform: uppercase;
}
.ion {
	font-size: 140%;
}

.skin-blue .wrapper {
	background-color: #263238;
}
#user-page.skin-blue .wrapper {
	background-color: #eceff1;
}
.skin-blue .main-sidebar, .skin-blue .left-side {
	background: -moz-linear-gradient(top, rgba(2,136,209,0) 0%, rgba(2,136,209,0.2) 100%);
	background: -webkit-linear-gradient(top, rgba(2,136,209,0) 0%,rgba(2,136,209,0.2) 100%);
	background: linear-gradient(to bottom, rgba(2,136,209,0) 0%,rgba(2,136,209,0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000288d1', endColorstr='#330288d1',GradientType=0 );
}
.sidebar-mini.sidebar-collapse .main-sidebar {
	z-index: 808;
}
#user-page aside.main-sidebar {
	display: none;
}

/* Menu */
.main-header .logo {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}
.main-header .logo-display {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.08em;
	line-height: 50px;
	text-transform: uppercase;
}
.main-header .navbar-nav a#logout {
	color: #da4453;
}
.main-header .navbar-nav a#logout:hover, .main-header .navbar-nav a#logout:focus {
	background-color: rgba(237, 85, 101, .2);
}
.main-header .sidebar-toggle {
	line-height: 20px;
}
.main-header .logo, .main-sidebar, .left-side {
	width: 250px;
}
.main-header .sidebar-toggle::before {
	content: "\f394";
	display: block;
	font-family: "Ionicons";
	font-size: 140%;
}
.main-header .navbar {
	margin-left: 250px;
}
.sidebar-collapse .sidebar-menu.tree {
	margin-top: -1px;
}
.sidebar-menu > li > a {
	height: 42px;
	padding-left: 10px;
}
.skin-blue .sidebar a {
	color: rgba(223, 235, 251, 0.64);
}
.sidebar-menu .ion {
	float: left;
	margin: -2px 10px 0 0;
}
li:not(.active) a > i.ion {
	color: inherit !important;
}
.sidebar-collapse .sidebar-menu .ion {
	margin-top: 0;
}
.sidebar-menu li > a > .pull-right-container {
	margin-right: -10px;
	opacity: 0.32;
}
.sidebar-menu li > a > .pull-right-container .ion {
	font-size: 100%
}
.sidebar-menu li.menu-open > a > .pull-right-container {
	opacity: 1;
}
.sidebar-menu li > a > .pull-right-container .ion-ios-arrow-down {
	display: none;
}
.sidebar-menu li.menu-open > a > .pull-right-container .ion-ios-arrow-down {
	display: block;
}
.sidebar-menu li > a > .pull-right-container .ion-ios-arrow-left {
	display: block;
}
.sidebar-menu li.menu-open > a > .pull-right-container .ion-ios-arrow-left {
	display: none;
}
.treeview-menu {
	padding: 8px 0 8px 10px;
}
.treeview-menu > li > a {
	padding: 6px 5px 6px 15px;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
	background-color: #2d5a6b;
	margin: 0;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
	color: rgba(223, 235, 251, 0.64);
}
.circle-o {
	border: 2px solid;
	border-radius: 50%;
	display: block;
	float: left;
	height: 9px;
	margin: 5px 15px 0 0;
	width: 9px;
}
.skin-blue .sidebar-menu button#logout {
	color: rgba(223, 235, 251, 0.64);
	margin: 0;
	padding: 12px 5px 12px 10px;
}

#search {
	float: left;
	margin: 0 8px;
	width: 240px;
}
#search .input-group {
	margin: 8px 0;
}
#search .input-group .input-group-addon {
	background-color: rgba(93, 156, 236, .2);
	border: none;
	border-radius: 17px 0 0 17px;
}
#search .form-control {
	background-color: rgba(93, 156, 236, .2);
	border: none;
	border-radius: 0 17px 17px 0;
	color: #455a64;
	padding-left: 0;
}
#search .form-control::-webkit-input-placeholder {
	color: #455a64;
	opacity: 0.64;
}
#search .form-control:-ms-input-placeholder {
	color: #455a64;
	opacity: 0.64;
}
#search .form-control::-moz-placeholder {
	color: #455a64;
	opacity: 0.64;
}
#search .form-control:-moz-placeholder {
	color: #455a64;
	opacity: 0.64;
}
#search .form-control:focus::-webkit-input-placeholder {
	opacity: 1;
}
#search .form-control:focus:-ms-input-placeholder {
	opacity: 1;
}
#search .form-control:focus::-moz-placeholder {
	opacity: 1;
}
#search .form-control:focus:-moz-placeholder {
	opacity: 1;
}

#user-page .content-header > .breadcrumb > li > a {
	color: #ffffff;
}
#user-page .breadcrumb > .active {
	color: #e6e9ed;
}

a {
	color: #3bafda;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
a:hover, a:active, a:focus {
	color: #4a89dc;
}

/* Nav */
.main-header {
	background-color: #ffffff;
	z-index: 809;
}
.skin-blue .main-header .navbar .sidebar-toggle {
	color: #455a64;
}
.skin-blue .main-header .navbar .nav > li > a {
	color: #455a64;
}
.skin-blue .main-header a {
	height: 50px;
}
.skin-blue .main-header .navbar a span {
	margin-left: 8px;
	vertical-align: top;
}
.skin-blue .main-header .navbar {
	background-color: #ffffff;
}
.skin-blue .main-header .logo, .skin-blue .main-header .navbar .sidebar-toggle {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.skin-blue .main-header .logo {
	background-color: #ffffff;
	color: inherit;
}
.skin-blue .main-header .logo:hover {
	background-color: rgba(93, 156, 236, .2);
}
.skin-blue .main-header .logo.navbar-brand {
	background-color: inherit;
	color: #455a64;
	width: auto;
}
.skin-blue .main-header .logo.navbar-brand:hover {
	background-color: rgba(93, 156, 236, .2);
}
.skin-blue .main-header .navbar .sidebar-toggle:hover,
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
	background-color: rgba(93, 156, 236, .2);
	color: inherit;
}
.skin-blue .sidebar-menu > li.header {
	background-color: rgba(0, 0, 0, 0.24);
	color: #455a64;
}
.skin-blue .sidebar-menu > li.active > a {
	border-left-color: #0277bd;
}
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
	background-color: #2b4d5c;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
	height: auto;
	line-height: 18px;
	margin-top: 1px;
	min-height: 42px;
	width: 250px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
	opacity: 0;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container .ion {
	display: none;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
	padding-right: 10px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
	padding: 8px 5px 12px 5px;
	top: 40px;
	z-index: -1;
}
.sidebar-collapse .sidebar-menu .ion {
	float: none;
	margin-left: 2px;
	margin-right: 0;
}

/* Form */
legend {
	font-size: 16px;
	margin: 15px 0;
}
.form-control {
	border-color: #cfd8dc;
	border-radius: 2px;
}
.form-control:focus {
	border-color: #4a89dc;
}
.form-group label {
	color: #607d8b;
	font-size: 80%;
	font-style: italic;
	font-weight: normal;
}
.form-horizontal .control-label {
	line-height: 22px;
}
.form-group {
	margin-bottom: 10px;
}
textarea.form-control {
	max-width: 100%;
}
.form-control[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	-o-appearance: textfield;
	appearance: textfield;
}
.form-group.has-success label {
	color: #8cc152;
}
.form-group.has-success .form-control, .form-group.has-success .input-group-addon {
	border-color: #a0d468;
}
.form-group.has-success .help-block {
	background-color: #a0d468;
}
.form-group.has-warning label {
	color: #f6bb42;
}
.form-group.has-warning .form-control, .form-group.has-warning .input-group-addon {
	border-color: #ffce54;
}
.form-group.has-warning .help-block {
	background-color: #ffce54;
}
.form-group.has-error label {
	color: #ed5565;
}
.form-group.has-error .form-control, .form-group.has-error .input-group-addon,
.has-error .select2-container--default .select2-selection--single,
.has-error .select2-selection .select2-selection--single,
.has-error .select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: #ed5565;
}
.form-group.has-success .form-control, .form-group.has-success .input-group-addon,
.form-group.has-warning .form-control, .form-group.has-warning .input-group-addon,
.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
	border-radius: 2px 2px 0 0;
}
.form-group.has-success .help-block, .form-group.has-warning .help-block, .form-group.has-error .help-block {
	color: #ed5565;
	font-size: 80%;
}
.form-group .checkbox label {
	color: inherit;
	font-size: 100%;
	font-style: normal;
}
select.form-control option {
	padding: 5px 10px;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #cfd8dc;
	border-radius: 2px;
	height: 32px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #5d9cec;
}
.select2-search--dropdown {
	padding: 1px;
}
.req > label:after {
	color: #da4453;
	content: "\f314";
	font-family: "ionicons";
	font-size: 60%;
	font-style: normal;
	margin-left: 5px;
	vertical-align: super;
}
.info > label:after {
	color: #4a89dc;
	content: "\f14a";
	font-family: "ionicons";
	font-size: 80%;
	font-style: normal;
	margin-left: 5px;
	vertical-align: super;
}
.forminfo {
	font-size: 80%;
}
.forminfo i {
	margin-right: 5px;
}
.forminfo .ion {
	font-size: 100%;
	text-align: center;
	width: 10px;
}
.forminfo .ion.ion-asterisk {
	font-size: 80%;
}
.input-lg, .btn-lg {
	font-size: 14px;
}
.btn {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 0 0 5px 0;
	outline: none !important;
	text-transform: uppercase;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.btn-default {
	background-color: #eceff1;
	border-color: #cfd8dc;
	color: #263238;
}
.btn-default:hover, .btn-default:active, .btn-default:focus,
.btn-default.hover, .btn-default.active, .btn-default.focus,
.open > .btn-default.dropdown-toggle {
	background-color: #eceff1 !important;
	border-color: #90a4ae !important;
	color: #263238 !important;
}
.btn-primary {
	background-color: #5d9cec;
	border-color: #4a89dc;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary.hover, .btn-primary.active, .btn-primary.focus,
.open > .btn-primary.dropdown-toggle {
	background-color: #4a89dc !important;
	border-color: #4a89dc !important;
}
.btn-success {
	background-color: #a0d468;
	border-color: #8cc152;
}
.btn-success:hover, .btn-success:active, .btn-success:focus,
.btn-success.hover, .btn-success.active, .btn-success.focus,
.open > .btn-success.dropdown-toggle {
	background-color: #8cc152 !important;
	border-color: #8cc152 !important;
}
.btn-info {
	background-color: #4fc1e9;
	border-color: #3bafda;
}
.btn-info:hover, .btn-info:active, .btn-info:focus,
.btn-info.hover, .btn-info.active, .btn-info.focus,
.open > .btn-info.dropdown-toggle {
	background-color: #3bafda !important;
	border-color: #3bafda !important;
}
.btn-danger {
	background-color: #ed5565;
	border-color: #da4453;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus,
.btn-danger.hover, .btn-danger.active, .btn-danger.focus,
.open > .btn-danger.dropdown-toggle {
	background-color: #da4453 !important;
	border-color: #da4453 !important;
}
.btn-warning {
	background-color: #ffce54;
	border-color: #f6bb42;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus,
.btn-warning.hover, .btn-warning.active, .btn-warning.focus,
.open > .btn-warning.dropdown-toggle {
	background-color: #f6bb42 !important;
	border-color: #f6bb42 !important;
}

.form-group.inputan {
	background-color: #f9f9f9;
	border-bottom: 1px solid #e5e5e5;
	margin-left: -5px;
	margin-right: -5px;
	padding: 5px 10px 8px 10px;
}

/* TabLe */
.table-responsive {
	border: none;
	margin: 0;
}
.table > thead > tr > th {
	border-bottom: 2px solid #cfd8dc;
	font-family: "Montserrat", sans-serif;
	font-size: 90%;
	font-weight: 500;
}
.table > thead > tr > th, .table > thead > tr > td,
.table > tbody > tr > th, .table > tfoot > tr > th,
.table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #cfd8dc;
}
.table .alert.nomargin {
	border: none;
	border-radius: 0;
	margin: -8px;
}
.table-hover > tbody > tr.selectable:hover, .table-hover > tbody > tr.selectable:nth-of-type(2n+1):hover {
	background-color: rgba(93, 156, 236, 0.2);
}
.table-hover > tbody > tr.restrict:hover {
	background-color: initial;
}
.table-hover > tbody > tr.restrict:nth-of-type(2n+1):hover {
	background-color: #f9f9f9;
}
.table-hover td {
	cursor: pointer;
}
.table-hover .restrict td {
	cursor: default;
}
.table-hover > tbody > tr.selected {
	background-color: rgba(93, 156, 236, 0.4) !important;
}
.table .btn {
	border-radius: 0;
	margin: -9px 0 -8px 0;
	padding: 8px 12px;
}
.table .btn-group .dropdown-menu {
	margin-top: 8px;
	padding: 6px 0;
}
.table .btn-group .dropdown-menu > li > a {
	padding: 4px 20px;
}
.table .dropdown-menu .ion {
	font-size: 100%;
	width: 12px;
}
.modal .box table.dataTable {
	margin: 0 !important;
}
td.text-right:first-child, td.text-left:last-child {
	width: 10px;
}

/* Content */
.content-wrapper, .right-side, .main-footer {
	background-color: #eceff1;
	border-top: 1px solid #eceff1;
}
body#user-page .wrapper:before, body#user-page .content-wrapper:before {
	content: "";
	display: block;
	height: 320px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
body#user-page .wrapper:before {
	background: url("../img/maintenance-header.jpg") no-repeat center center / cover;
}
body#user-page.skin-blue .content-wrapper {
	background-color: transparent;
	border: none;
}
body#user-page .content-wrapper:before {
	background: -moz-linear-gradient(top, rgba(236,239,241,0) 0%, rgba(236,239,241,0) 25%, rgba(236,239,241,1) 100%);
	background: -webkit-linear-gradient(top, rgba(236,239,241,0) 0%,rgba(236,239,241,0) 25%,rgba(236,239,241,1) 100%);
	background: linear-gradient(to bottom, rgba(236,239,241,0) 0%,rgba(236,239,241,0) 25%,rgba(236,239,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eceff1', endColorstr='#eceff1',GradientType=0 );
}
.skin-blue .content-header {
	background-color: #ffffff;
	padding: 15px;
}
body#user-page.skin-blue .content-header {
	background-color: transparent;
	color: #ffffff;
	padding-bottom: 0;
}
.content-header .ion {
	font-size: 120%;
	margin-right: 15px;
	vertical-align: text-bottom;
}
.content-header > h1 {
	font-size: 28px;
}
.content-header > h2 {
	font-size: 20px;
	margin: 10px 0 5px 0;
}
.row {
	margin-left: -10px;
	margin-right: -10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 10px;
	padding-right: 10px;
}

#indexAdd.btn {
	bottom: 10px;
	position: absolute;
	right: 15px;
}

.label {
	font-size: 90%;
	font-weight: 500;
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
	background-color: #4a89dc !important;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
	background-color: #3bafda !important;
}
.alert-info, .callout.callout-info {
	border-color: #039be5;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
	background-color: #ffce54 !important;
}
.alert-warning, .callout.callout-warning {
	border-color: #f6bb42;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
	background-color: #a0d468 !important;
}
.alert-success, .callout.callout-success {
	border-color: #8cc152;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
	background-color: #ed5565 !important;
}
.alert-danger, .alert-error, .callout.callout-danger {
	border-color: #da4453;
}

/* Box */
.box-wrapper {
	background: #ffffff none repeat scroll 0 0;
	border-top: 3px solid #cfd8dc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	position: relative;
	width: 100%;
}
.box-full {
	background-color: #ffffff !important;
	box-shadow: none;
}
.box, .box-wrapper {
	border-radius: 0;
	border-top-color: #cfd8dc;
	margin-bottom: 15px;
}
.box.box-default, .box-wrapper.box-default {
	border-top-color: #cfd8dc;
}
.box.box-primary, .box-wrapper.box-primary {
	border-top-color: #3bafda;
}
.box.box-success, .box-wrapper.box-success {
	border-top-color: #a0d468;
}
.box.box-info, .box-wrapper.box-info {
	border-top-color: #4fc1e9;
}
.box.box-danger, .box-wrapper.box-danger {
	border-top-color: #ed5565;
}
.box.box-warning, .box-wrapper.box-warning {
	border-top-color: #ffce54;
}
.box-title {
	padding: 5px 10px;
	text-transform: uppercase;
}
.box-header > .box-tools {
	top: 10px;
}
.box-body {
	padding: 15px;
}
.box-wrapper-body {
	border-radius: 0 0 3px 3px;
	padding: 15px;
}
.btn-box-tool .ion-plus {
	margin-top: -1px;
}
.btn-box-tool .ion-plus, .collapsed-box .btn-box-tool .ion-minus {
	display: none;
}
.collapsed-box .btn-box-tool .ion-plus, .btn-box-tool .ion-minus {
	display: block;
}
.info-box {
	border-radius: 2px 2px 0 0;
	margin-bottom: 19px;
	position: relative;
}
.info-box-icon {
	border-radius: 50%;
	font-size: 32px;
	height: 64px;
	line-height: 66px;
	margin: 12px;
	width: 64px;
}
.info-box-content {
	padding: 12px 15px 12px 4px;
}
.info-box-text {
	text-transform: none;
	white-space: unset;
}
.info-box-number {
	font-size: 32px;
	line-height: 1;
}
.info-percent {
	border-radius: 0 0 2px 2px;
	bottom: -4px;
	height: 6px;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.info-percent > span {
	background-color: rgba(0, 0, 0, 0.4);
	display: block;
	height: 100%;
}
.info-box small {
	display: block;
	font-size: 12px;
	font-weight: 500;
	margin-top: 6px;
	opacity: 0.48;
}

/* Tabs */
.nav-tabs > li > a {
	border-radius: 2px 2px 0 0;
	margin: 0;
}
.nav-tabs > li:first-child > a {
	border-left: none !important;
}
.nav-tabs > li:last-child > a {
	/*border-right: none !important;*/
}

/* DataTables */
.dataTables_wrapper {
	text-align: left;
}
div.dataTables_wrapper div.dataTables_length label {
	line-height: 28px;
}
.dt-full .dataTables_length, .dt-full .dataTables_info {
	margin-left: 15px;
}
.dt-full .dataTables_wrapper {
	padding: 30px 0;
}
.dt-full .dataTables_filter, .dt-full .dataTables_wrapper .dataTables_paginate {
	margin-right: 15px;
}
.dt-full .dataTables_wrapper .dataTables_paginate {
	margin-top: 9px;
}
div.dataTables_wrapper div.dataTables_length select {
	margin-right: 5px;
}
.dataTables_wrapper .label {
	display: block;
	margin: -1px 0;
	padding: 5px 8px 6px 8px;
}
.paginate_button .ion {
	font-size: 80%;
}
.pagination > .active > a, .pagination > .active > a:focus,
.pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #5d9cec;
	border-color: #4a89dc;
}
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
	padding-right: 20px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
	right: 6px;
}
table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
	font-family: "ionicons";
	font-size: 160%;
	line-height: 0.9;
}
table.dataTable thead .sorting_asc:after {
	content: "\f35f";
}
table.dataTable thead .sorting_desc:after {
	content: "\f365";
}
table.dataTable thead .sorting:after {
	content: "\f396";
	font-family: "ionicons";
	font-size: 120%;
	line-height: 1.2;
	opacity: 0.4;
}
div.dataTables_wrapper div.dataTables_processing {
	background-color: transparent;
	border: none;
}
.modal-proc {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.modal-text {
	background-color: #ffffff;
	border-radius: 4px;
	padding: 15px;
	position: relative;
	z-index: 10000;
}
.modal-text:before {
	background: transparent url("../img/spinner.gif") no-repeat scroll center center / cover ;
	content: "";
	display: block;
	height: 40px;
	margin: 5px auto 15px auto;
	width: 40px;
}
.pagination > li > a, .pagination > li > span {
	line-height: 1;
}
.sorting_asc, .sorting_desc {
	background-color: rgba(93, 156, 236, 0.2);
}
.sorting_1 {
	background-color: rgba(93, 156, 236, .12);
}
.dataTable .text-nowrap > a {
	display: inline-block;
	margin: 0 5px;
}
.dataTable .text-nowrap a .ion-edit {
	font-size: 120%;
}

/* Modal */
.modal-header {
	border-bottom: none;
	padding-bottom: 13px;
}
.modal-content {
	border-radius: 4px;
}
.modal-title {
	text-transform: uppercase;
}
.modal-body.box, .modal-body.box-wrapper {
	background-color: #eceff1;
	margin: 0;
	padding: 0 5px;
}
.modal .box-wrapper-body {
	padding: 15px 15px 5px;
}
.modal-footer {
	border-top: none;
	text-align: left;
}
.modal-footer > button {
	vertical-align: top;
}

.modal-header .close {
	color: #ed5565;
	margin: 0;
	opacity: 0.4;
	position: absolute;
	right: 10px;
	top: 4px;
}
.modal-header .close:focus, .modal-header .close:hover {
	opacity: 0.8;
}

/* DatePicker */
.arrowLeft:before {
	content: "\ab";
	display: block;
}
.arrowRight:before {
	content: "\bb";
	display: block;
}
.datepicker-dropdown {
	padding: 6px 12px 12px 12px;
}
.bootstrap-datetimepicker-widget {
	padding: 6px 15px 12px 15px !important;
}
.datepicker table tr td, .datepicker table tr th {
	border-radius: 2px;
}
.datepicker .datepicker-days table tr td.new, .datepicker .datepicker-days table tr td.old {
	color: #263238;
	opacity: 0.4;
}
.datepicker-days th.dow:first-child, .datepicker-days td:first-child,
.datepicker .datepicker-days table tr td.new:first-child, .datepicker .datepicker-days table tr td.old:first-child {
	color: #ed5565;
}
.datepicker .datepicker-days table tr td.new:first-child, .datepicker .datepicker-days table tr td.old:first-child {
	opacity: 0.4;
}
.datepicker table tr td.today {
	background-color: #5d9cec;
	border-color: #4a89dc;
	color: #ffffff;
}
.datepicker table tr td.today:hover {
	background-color: #4a89dc;
    border-color: #4a89dc;
    color: #ffffff;
}

/* MorrisJS chart */
.chart .morris-hover.morris-default-style {
	background-color: rgba(0, 0, 0, 0.64);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	font-weight: 500;
}

/* LobiBox */
.lobibox, .lobibox-notify {
	font-family: "Raleway", sans-serif;
}
.lobibox-notify {
	border-radius: 4px;
}
.lobibox-notify .lobibox-notify-title {
	font-family: "Montserrat",sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.lobibox-notify .lobibox-notify-icon > div .icon-el .ion {
	font-size: 100%;
	margin: 0 5px 0 -5px;
}
.lobibox-notify.lobibox-notify-success {
	background-color: #a0d468;
	border-color: #8cc152;
}
.lobibox-notify.lobibox-notify-success:hover {
	background-color: #8cc152;
	border-color: #8cc152;
}
.lobibox-notify.lobibox-notify-info {
	background-color: #5d9cec;
	border-color: #4a89dc;
}
.lobibox-notify.lobibox-notify-info:hover {
	background-color: #4a89dc;
	border-color: #4a89dc;
}
.lobibox-notify.lobibox-notify-error {
	background-color: #ed5565;
	border-color: #da4453;
}
.lobibox-notify.lobibox-notify-error:hover {
	background-color: #da4453;
	border-color: #da4453;
}
.lobibox-notify.lobibox-notify-warning {
	background-color: #f6bb42;
	border-color: #ffce54;
}
.lobibox-notify.lobibox-notify-warning:hover {
	background-color: #ffce54;
	border-color: #ffce54;
}
.lobibox-notify .lobibox-delay-indicator {
	height: 4px;
}
.lobibox-notify .lobibox-delay-indicator > div {
	background-color: rgba(0, 0, 0, 0.4);
}

/* Footer */
.main-footer {
	background-color: #ffffff;
	font-size: 80%;
	padding: 10px 15px;
}

/* Color Pallette */
.merah {
	color: #da4453;
}
.merah-1 {
	color: #ed5565;
}
.jingga {
	color: #e9573f;
}
.jingga-1 {
	color: #fc6e51;
}
.oranye {
	color: #ffce54;
}
.oranye-1 {
	color: #f6bb42;
}
.hijau {
	color: #8cc152;
}
.hijau-1 {
	color: #a0d468;
}
.mint {
	color: #37bc9b;
}
.mint-1 {
	color: #48cfad;
}
.aqua {
	color: #3bafda;
}
.aqua-1 {
	color: #4fc1e9;
}
.biru {
	color: #4a89dc;
}
.biru-1 {
	color: #5d9cec;
}
.ungu {
	color: #967adc;
}
.ungu-1 {
	color: #ac92ec;
}
.pink {
	color: #d770ad;
}
.pink-1 {
	color: #ec87c0;
}
.abumuda {
	color: #e6e9ed;
}
.abumuda-1 {
	color: #f5f7fa;
}
.abu {
	color: #aab2bd;
}
.abu-1 {
	color: #ccd1d9;
}
.abutua {
	color: #434a54;
}
.abutua-1 {
	color: #656d78;
}

@media only screen and (min-width : 768px) {
	.content-wrapper, .right-side, .main-footer {
		margin-left: 250px;
	}
}
@media only screen and (max-width: 991px) {
	.content-header > .breadcrumb {
		background-color: transparent;
		padding: 10px 0 0 0;
	}
}
@media only screen and (max-width: 767px) {
	body {
		margin-top: 50px;
	}
	.main-header {
		border-bottom: 1px solid #eceff1;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 811;
	}
	.main-header .logo {
		letter-spacing: 0;
		padding-left: 60px;
		text-align: left;
		width: 100%;
	}
	.skin-blue .main-header .navbar {
		left: 0;
		position: absolute;
		top: 0;
		width: auto;
	}
	.skin-blue .main-header .navbar .sidebar-toggle {
		background-color: #eceef1;
	}
	.main-header .navbar {
		margin: 0;
	}
	.skin-blue .main-sidebar {
		height: 100%;
		overflow: auto;
		padding-top: 50px;
		position: fixed;
	}
	#user-page aside.main-sidebar {
		display: inherit;
	}
	.main-sidebar, .left-side {
		transform: translate(-250px, 0px);
	}
	.sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
		transform: translate(250px, 0px);
	}
	.nav.navbar-nav {
		float: left;
		margin: 0;
	}
	.sidebar #search {
		float: none;
		margin: 0;
		padding: 5px 10px;
		width: 100%;
	}
	.sidebar #search .form-control, .sidebar #search .input-group .input-group-addon {
		background-color: #ffffff;
	}
	.skin-blue .sidebar .header-user a {
		height: auto;
		padding: 10px;
		white-space: normal;
	}
	.nav.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		line-height: 36px;
	}
	.nav.navbar-nav > li > a > span {
		display: none;
	}

	#user-page nav.navbar {
		width: 100%;
	}
	#user-page .main-header .logo {
		padding: 0 10px;
	}
	#user-page.skin-blue .main-sidebar {
		background-color: #263238;
	}

	div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
		text-align: left;
	}
	div.dataTables_wrapper div.dataTables_paginate {
		margin-top: 5px;
	}
	div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
		padding: 0;
	}
	div.dataTables_wrapper div.dataTables_filter label {
		width: 100%;
	}
	div.dataTables_wrapper div.dataTables_filter input {
		margin: 0;
		width: 100%;
	}

	.content-header > h1 {
		font-size: 20px;
	}
	.content-header > h2 {
		font-size: 16px;
		margin: 5px 0;
	}
	.content-header > .breadcrumb {
		display: none;
	}
	#indexAdd.btn {
		bottom: auto;
		margin-top: 5px;
		position: relative;
		right: auto;
	}

	.datepicker-dropdown, .bootstrap-datetimepicker-widget {
		margin-top: 16px;
	}

	.main-footer {
		font-size: 65%;
		line-height: 1.5em;
	}
}

button#logout {
	background: none;
	border:none;
	color: #DA4453;
	display: block;
	margin-right: 15px;
	margin-top: 15px;
}
